<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/" class="brand-logo">NOTeS</a>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a routerLink="/users" routerLinkActive="active" class="navbar-link">Users</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/add-user" routerLinkActive="active" class="navbar-link">Add User</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
